.AboutUs {
    background-image: url(../component/pics/wp3774873.webp);
    background-size: 50%;
    background-position: center;
}

.glz {
    width: 1500px;
    height: 600px;
    margin: 200px auto;
}

.glx {
    background:linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(55, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0, rgba(0, 0, 0, 0.37);

}

.Abtusa {
    padding-top: 20px;
    padding-left: 50px;
    color: whitesmoke;
}

#h1-ico-baco {
    color: gold;
    padding-left: 30px;
}

#iconpic {
    margin-left: 220px;
    margin-top: -40px;
}

.pageman {
    padding-left: 30px;
    padding-top: 5px;
    font-size: 23px;
    text-align: left;
}